:root {
    --lte-sidebar-width: 320px;
}

.info {
    color: white;
}

.nav-header {
    display: none;
}

.breadcrumb li:has(a[href="/admin/birdwatch/"]) {
    display: none;
}

.card-header {
    display: none;
}

.btn-group {
    gap: 6px;
}

.btn-group .btn {
    border-radius: 6px !important;
}

.container-fluid h3 {
    font-weight: bold;
}